<!DOCTYPE html>
<html>
  <head>
    <title>Quickhunt.in</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/icon.png"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  </head>

<body>
  <style>
    body,h1 {font-family: "Raleway", sans-serif}
    body, html {height: 100%}
    .bgimg {
      min-height: 100%;
      background-position: center;
      background-size: cover;
    }

  </style>
  <div class="bgimg w3-display-container w3-animate-opacity w3-text-black" style="background-image: url('../static/bg02.jpg');">
    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top">Quickhunt</h1>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center">Quickly know the news and the sentiment of it</p><br></br>
      <form action="{{ url_for('summary')}}">
        <div class="w3-container w3-center">
        
        <button class="w3-button w3-black w3-right" type='submit'>Sports Summary</button>
      </form>
      <form action="{{ url_for('indiasummary')}}">
        <button class="w3-button w3-teal w3-left" type='submit'>World Summary</button> 
      </form>
      <form action="{{ url_for('techsummary')}}">
          <button class="w3-button w3-red w3-left" type='submit'>Tech Summary</button>
      </form>    
      <form action="{{ url_for('edusummary')}}">
          <button class="w3-button w3-red w3-right" type='submit'>Education Summary</button>      
      </form>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
    </div>
  </div>
  
</body>

</html>